
.outer-box {
    width: 300px;
    background-color: #d1c4e9; 
    padding: 20px;
    margin: 30px auto; 
    border-radius: 20px;
    text-align: center;
}


.title {
    color: #4a148c;
    font-size: 22px;
    margin-bottom: 20px;
}

.inner-card {
    background-color: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 12px;
    box-shadow: 2px 2px 10px #bbb;
}

.label {
    color: gray;
    margin-bottom: 10px;
    font-size: 15px;
}

.value {
    font-size: 24px;
    font-weight: bold;
    color: black;
}
