.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 10px;
}

.card-container{
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-image{
    width: 100%;
    height: 65%;
    border-top: 8px solid black;
    border-radius: 10px 10px 0 0;
}
.card-name{
    text-align: center;
}
.card-caption{
    text-align: center;
    font-size: 18px;
}
.card-logo-container{
    display: grid;
    place-items: center;
    margin-bottom: 5px;
}
.card-logo{
    max-height: 45px;
}